@charset "UTF-8";

.headerback {
	background-color:rgb(100, 184, 2);
	height: 90px;
}

.header {
 	color:white;
	/*text-shadow:
       2px  2px 1px #ffffff,
      -2px  2px 1px #ffffff,
       2px -2px 1px #ffffff,
      -2px -2px 1px #ffffff,
       2px  0px 1px #ffffff,
       0px  2px 1px #ffffff,
      -2px  0px 1px #ffffff,
       0px -2px 1px #ffffff;*/
       
    /*text-shadow: 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d;*/
    	
    */text-shadow: 
    		 0 0 3px #21ba45,
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45;*/
			 
	    text-shadow: 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45;
	font-size: 45px;
}

.header p {
	text-align: center;
	position: relative;
	top: 0%;
    right: 0%;
    bottom: 0%;
    left: 2%;
  	width: 1%;
  	height: 90px;
  	display:table-cell;
  	vertical-align: middle;
}

.header i{
	color:#f08a37;
	transform: rotate( 30deg );
}

.komidasi h3 {
  color:white;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  text-align: center;/*中央揃え*/
  border-top: solid 5px rgba(84, 184, 1, 0.73);/*上線*/
  border-bottom: solid 5px rgba(84, 184, 1, 0.73);/*下線*/
  
  text-shadow: 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45;

}

p.header span {
	text-align: left !important;
	padding-top: 3px !important;
	padding-left: 5px !important;
}
.logo {
	text-align: left !important;
	padding-top: 3px !important;
	padding-left: 5px !important;
}
  
@media screen and (max-width: 450px) {
	 .header p {
		text-align: center;
		position: relative;
		top: 0%;
	    right: 0%;
	    bottom: 0%;
	    left: 6%;
	  	width: 1%;
	  	height: 90px;
	  	display:table-cell;
	  	vertical-align: middle;
  }
}
