@charset "UTF-8";


.headerback {
	background-color:rgb(100, 184, 2);
	height: 90px;
}

.header {
 	color:white;
	/*text-shadow:
       2px  2px 1px #ffffff,
      -2px  2px 1px #ffffff,
       2px -2px 1px #ffffff,
      -2px -2px 1px #ffffff,
       2px  0px 1px #ffffff,
       0px  2px 1px #ffffff,
      -2px  0px 1px #ffffff,
       0px -2px 1px #ffffff;*/
       
    /*text-shadow: 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d, 
    	1px 1px 1px #1b1c1d;*/
    	
    */text-shadow: 
    		 0 0 3px #21ba45,
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45, 
			 0 0 3px #21ba45;*/
			 
	    text-shadow: 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45, 
	    	0 0 3px #21ba45;
	font-size: 45px;
	padding-right: 65px;
}

.header p {
	text-align: center;
	position: relative;
	top: 14px;
    right: 0px;
    bottom: 0px;
    left: 24px;
}

.header i{
	color:#f08a37;
	transform: rotate( 30deg );
}

.komidasi h3 {
  color:white;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  text-align: center;/*中央揃え*/
  border-top: solid 5px rgba(84, 184, 1, 0.73);/*上線*/
  border-bottom: solid 5px rgba(84, 184, 1, 0.73);/*下線*/

  text-shadow: 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45, 
  	0 0 3px #21ba45;

}

.logo {
	text-align: left !important;
	padding-top: 3px !important;
	padding-left: 5px !important;
}

.example03-box {
　　width: 400px;
　　overflow: hidden;
　　_zoom: 1; /*IE6バグ対策*/
　　
}
.example03-box .img {
	text-align: left;
	padding-top: 8px;
	position: relative;
	top: 0%;
    right: 0%;
    bottom: 0%;
    left: 10%;
	float: left;
}
.example03-box .txt {
　　overflow: hidden;
　　_zoom: 1; /*IE6バグ対策*/
}

@media screen and (max-width: 540px) {
	 .header p {
		text-align: center;
		position: relative;
		top: 14px;
	    right: 0px;
	    bottom: 0px;
	    left: 25px;
	    white-space: nowrap;
  }

  .example03-box .img {
	text-align: left;
	padding-top: 8px;
	position: relative;
	top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
	float: left;
	}
}

