@charset "UTF-8";

@media screen and (max-width: 640px) {
  .table {
    width: 80%;
  }
  #id .table thead {
    display: none;
  }
  .table tr {
    width: 100%;
  }
  .table td {
    display: block;
    text-align: left;
    width: 100%;
  }
  .table td:first-child {
    background: #e9727e;
    color: #000040;
    font-weight: bold;
    text-align: center;
  }
  .table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
  
}
