<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title th:text="#{view.grInfoIn.pagetitle}"></title>
		<link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/originalIndex.css}" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	</head>
	<body>
	<!-- 外部ヘッダーファイル読み込み -->
		<div th:insert="header :: header"></div>
		<!-- 小見出しを各々のページで書き換え -->
		<p></p>
		<div class="komidasi">
			<h3 th:text="#{view.label.grInfoInput}"></h3>
		</div>
		<div class="ui container">
			<div class="ui hidden divider"></div><!-- 一行スペース入れてる -->
			<div class="ui text container">	
				<form action="#" th:action="@{/groupInfoConfirm}" th:object="${groupInfoForm}" method="post">
					<div class="ui center aligned container">
						<h3 class="index_ask_input" th:text="#{view.text.UGInfoTop}"></h3>
					</div>
					<table class="ui celled table">
						<tbody>
							<tr>
								<td><p th:text="#{view.tablelabel.gId}"></p><div class= error><p th:text="#{view.text.halfChar}"></div></td>
								<td><span class="ui input"><input type="text" class="form-control" th:field="*{groupId}" th:placeholder="#{view.checkPh.userId}"/></span>
									<br><span th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}"></span>
									<br><span th:if="${uGrError}" th:text=${uGrError}></span>
								</td>
							</tr>
							<tr>
								<td><p th:text="#{view.tablelabel.gName}"></p><div class= error><p th:text="#{view.text.fullChar}"></p></div></td>
								<td><span class="ui input"><input type="text" class="form-control" th:field="*{groupName}" th:placeholder="#{view.checkPh.name}"/></span>
									<br><span th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}"></span>
								</td>
							</tr>
							<tr>
								<td><p th:text="#{view.tablelabel.gPass}"></p><div class= error><p th:text="#{view.text.halfChar}"></div></td>
								<td><span class="ui input"><input type="text" class="form-control" th:field="*{groupPass}" th:placeholder="#{view.checkPh.groupPass}"/></span>
									<br><span th:if="${#fields.hasErrors('groupPass')}" th:errors="*{groupPass}"></span>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="ui hidden divider"></div><!-- 一行スペース入れてる -->
					<div class="ui center aligned container">
						<button type="submit" class="ui inverted primary button" th:text="#{view.btn.confirm}"></button>
						<a href="./">
							<button type="button" class="ui inverted primary button center">
								<th:block th:text="#{view.btn.return}"></th:block>
							</button>
						</a>
					</div>
				</form>	
			</div>
			<div class="ui hidden divider"></div><!-- 一行スペース入れてる -->
		</div>
	</body>
</html>