<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>header</title>
	</head>
	<body style="overflow-y:scroll;">
		<div th:fragment="header" th:remove="tag">
			<div class="ui header">
				<div class="headerback">
					<div class="example03-box">
						<span class="img"><img class="logo" alt="シャンテリーロゴ" th:src="@{/css/themes/default/assets/images/PageLogo.jpg}"></span>
						<p class="txt header">まいけん<i class="thermometer half icon"></i></p>
					</div>
				</div>
			</div>
			<div th:if="${session.loginuser}">
				<div class="center">
				<span class="loginfo" th:text="'グループ名 : '+${session.login_group}"></span>
				<span class="loginfo" th:text="'ユーザー名 : '+${session.loginuser.user_name}"></span>
				</div>
			</div>
		</div>
	</body>
</html>