<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title th:text="#{view.search.title}"></title>
		<link rel="stylesheet" href="./css/semantic.min.css">
		<link rel="stylesheet" href="./css/original.css">
		<link rel="stylesheet" media="(max-width: 640px)" href="./css/original.css">
		<script src="./js/jquery-3.4.1.min.js"></script>
	</head>
	<body>
		<!-- 外部ヘッダーファイル読み込み -->
		<div id="atama"></div> <!-- ここに出力 -->
		<script>
			$(function(){
				$("#atama").load("header.html");
			});
		</script>

		<!-- 小見出しを各々のページで書き換え -->
		<p></p>
		<div class="komidasi">
			<h3>ページタイトル</h3>
		</div>

		<!-- 以下、本体 -->
		<div class="ui container">

		<p></p>
		<div class="ui icon input">
 				<input type="text" placeholder="日付...">
 					<i class="search icon"></i>
		</div>

		<div class="ui hidden divider"></div>
		<div class="ui divider"></div> <!-- テーブルの上の線 -->

			<table class="sampleTable" style="font-size: 9.5pt;">
				<thead>
					<tr class="thead">
						<th width="145">社員番号</th>
						<th width="145">氏名</th>
						<th width="145">体温</th>
						<th width="145"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>440</td>
						<td>佐藤由莉枝</td>
						<td>38.5</td>
						<td style="text-align: center;">
							<button class="ui mini inverted primary button">
								<p>個人の記録へ</p>
							</button>
						</td>
					</tr>
					<tr>
						<td>442</td>
						<td>櫻井翔</td>
						<td>37.2</td>
						<td style="text-align: center;">
							<button class="ui mini inverted primary button">
								<p>個人の記録へ</p>
							</button>
						</td>
					</tr>
					<tr class="last">
						<td>443</td>
						<td>二宮和也</td>
						<td>36.5</td>
						<td style="text-align: center;">
							<button class="ui mini inverted primary button">
								<p>個人の記録へ</p>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
</html>