<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
	
		<!-- 新規登録　-->
		<div th:fragment="regist" th:remove="tag">
			<select name="regist" id="regist">
				<option value="group" th:text="グループ"></option>
				<option value="user" th:text="ユーザー（個人）"></option>
				<option value="multiuser" th:text="ユーザー（複数）"></option>
			</select>
		</div>
		
		<!-- 性別 -->
		<div th:fragment="gender" th:remove="tag">
			<select th:field="*{gender}"name="gender">
				<option value="M" th:text="男性"></option>
				<option value="F" th:text="女性"></option>
			</select>
		</div>
		
		<!-- 管理者権限 -->
		<div th:fragment="admin" th:remove="tag">
			<select th:field="*{admin}" name="admin">
				<option value="1" th:text="管理者"></option>
				<option value="0" th:text="一般"></option>
			</select>
		</div>
		
		<!-- 学年　-->
		<div th:fragment="grade" th:remove="tag">
			<select th:field="*{grade}" name="grade">
				<option value="0" th:text="なし"></option>
				<option value="1" th:text="小学１年生"></option>
				<option value="2" th:text="小学２年生"></option>
				<option value="3" th:text="小学３年生"></option>
				<option value="4" th:text="小学４年生"></option>
				<option value="5" th:text="小学５年生"></option>
				<option value="6" th:text="小学６年生"></option>
				<option value="A" th:text="中学１年生"></option>
				<option value="B" th:text="中学２年生"></option>
				<option value="C" th:text="中学３年生"></option>
			</select>
		</div>
		
		<!-- 学年＋空白 -->
		<div th:fragment="gradeAndBlank" th:remove="tag">
			<select th:field="*{sch_grade}" name="sch_grade">
				<option value=""></option>
				<option value="0" th:text="なし"></option>
				<option value="1" th:text="小学１年生"></option>
				<option value="2" th:text="小学２年生"></option>
				<option value="3" th:text="小学３年生"></option>
				<option value="4" th:text="小学４年生"></option>
				<option value="5" th:text="小学５年生"></option>
				<option value="6" th:text="小学６年生"></option>
				<option value="A" th:text="中学１年生"></option>
				<option value="B" th:text="中学２年生"></option>
				<option value="C" th:text="中学３年生"></option>
			</select>
		</div>
		
	</body>
</html>