<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title>検温情報結果</title>
		<link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/search.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/originalIndex.css}" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	</head>
	<body>
		<!-- 外部ヘッダーファイル読み込み -->
		<div th:insert="header :: header"></div>
		<!-- 小見出しを各々のページで書き換え -->
		<p></p>
		<div class="komidasi">
			<h3>登録しました</h3>
		</div>
		<form action="/return_search" method="get" >
			<table class="ui celled table">
				<thead class="delete">
					<tr>
						<th th:text="#{view.tablelabel.name}"></th>
						<th th:text="#{view.tablelabel.gender}"></th>
						<th th:text="#{view.tablelabel.grade}"></th>
						<th th:text="#{view.tablelabel.age}"></th>
						<th th:text="#{view.tablelabel.thermo}"></th>
						<th th:text="#{view.tablelabel.taste}"></th>
						<th th:text="#{view.tablelabel.smell}"></th>
						<th th:text="#{view.tablelabel.cough}"></th>
						<th th:text="#{view.tablelabel.other}"></th>
					</tr>
				</thead>
				<tr th:each= "list:${list}">
					<td th:data-label="#{view.tablelabel.name}" th:text="${list.userName}"></td>
					<td th:data-label="#{view.tablelabel.gender}" th:text="${list.gender}"></td>
					<td th:data-label="#{view.tablelabel.grade}" th:text="${list.grade}"></td>
					<td th:data-label="#{view.tablelabel.age}" th:text="${list.age}"></td>
					<td th:data-label="#{view.tablelabel.thermo}" th:text="${list.temperature}"></td>
					<td th:data-label="#{view.tablelabel.taste}">
						<p th:if="${list.taste}" th:text="#{view.select.admin}"></p>
						<p th:unless="${list.taste}" th:text="#{view.select.normal}"></p>
					</td>
					<td th:data-label="#{view.tablelabel.smell}">
						<p th:if="${list.smell}" th:text="#{view.select.admin}"></p>
						<p th:unless="${list.smell}" th:text="#{view.select.normal}"></p>
					</td>
					<td th:data-label="#{view.tablelabel.cough}">
						<p th:if="${list.cough}" th:text="#{view.select.admin}"></p>
						<p th:unless="${list.cough}" th:text="#{view.select.normal}"></p>
					</td>
					<td th:data-label="#{view.tablelabel.other}" th:text="${list.writing}"></td>
				</tr>
			</table>
			<div align="center">
				<button type="submit" class="ui inverted primary button" name="input" ><p th:text="#{view.btn.return}"></button>
			</div>
		</form>
	</body>
</html>