<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title>検温情報入力</title>
		<link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/search.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/originalIndex.css}" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	</head>
	<body>
		<!-- 外部ヘッダーファイル読み込み -->
		<div th:insert="header :: header"></div>
​
		<!-- 小見出しを各々のページで書き換え -->
		<p></p>
		<div class="komidasi">
			<h3>検温情報入力フォーム</h3>
		</div>
	
		
		<form action="/from_input" method="post" th:object="${thForm}">
			<table class="ui celled table">
				<thead class="delete">
					<tr>
						<th th:text="#{view.tablelabel.name}"></th>
						<th th:text="#{view.tablelabel.gender}"></th>
						<th th:text="#{view.tablelabel.grade}"></th>
						<th th:text="#{view.tablelabel.age}"></th>
						<th th:text="#{view.tablelabel.thermo}"></th>
						<th th:text="#{view.tablelabel.taste}"></th>
						<th th:text="#{view.tablelabel.smell}"></th>
						<th th:text="#{view.tablelabel.cough}"></th>
						<th th:text="#{view.tablelabel.other}"></th>
					</tr>
				</thead>
				
				<tr th:each= "ul,status : ${ulist}">
		    		<td th:data-label="#{view.tablelabel.name}" th:text="${ul.user_name}"></td>
		    		<td th:data-label="#{view.tablelabel.gender}" th:text="${ul.gender}"></td>
		    		<td th:data-label="#{view.tablelabel.grade}" th:text="${ul.grade}"></td>
		    		<td th:data-label="#{view.tablelabel.age}" th:text="${birth[status.index]}"></td>
					
					<th:block th:if="${list}">
						<td th:data-label="#{view.tablelabel.thermo}">
							<span class="ui input"><input type="text" th:attr="name='tList[' + __${status.index}__ + '].temperature'"
							th:value="${list[status.index].temperature}" size="30" maxlength="4" th:placeholder="半角数字で入力" /></span>
							<div th:if="${message}">
								<br><font color="red"><span th:text="${message[status.index]}"></span></font>
							</div>
						</td>
						<td th:data-label="#{view.tablelabel.taste}">
							<div th:unless="${list[status.index].taste}">
								<input type="checkbox" th:attr="name='tList[' + __${status.index}__ + '].taste'" />
							</div>
							<div th:if="${list[status.index].taste}">
								<input type="checkbox" th:attr="name='tList[' + __${status.index}__ + '].taste'" checked/>
							</div>
						</td>
						<td th:data-label="#{view.tablelabel.smell}">
							<div th:unless="${list[status.index].smell}">
								<input type="checkbox" th:attr="name='tList[' + __${status.index}__ + '].smell'" />
							</div>
							<div th:if="${list[status.index].smell}">
								<input type="checkbox" th:attr="name='tList[' + __${status.index}__ + '].smell'" checked/>
							</div>
						</td>
						<td th:data-label="#{view.tablelabel.cough}">
							<div th:unless="${list[status.index].cough}">
								<input type="checkbox" th:attr="name='tList[' + __${status.index}__ + '].cough'" />
							</div>
							<div th:if="${list[status.index].cough}">
								<input type="checkbox" th:attr="name='tList[' + __${status.index}__ + '].cough'" checked/>
							</div>
						</td>
						<td th:data-label="#{view.tablelabel.other}">
							<span class="ui input"><input type="text" th:attr="name='tList[' + __${status.index}__ + '].writing'"
							th:value="${list[status.index].writing}" size="30" maxlength="128" th:placeholder="128文字以内" /></span>
							<input type="hidden" th:attr="name='tList[' + __${status.index}__ + '].userName'" th:value="${ul.user_name}" >
							<input type="hidden" th:attr="name='tList[' + __${status.index}__ + '].Gender'" th:value="${ul.gender}" >
							<input type="hidden" th:attr="name='tList[' + __${status.index}__ + '].Grade'" th:value="${ul.grade}" >
							<input type="hidden" th:attr="name='tList[' + __${status.index}__ + '].userId'" th:value="${ul.user_id}" >
							<input type="hidden" th:attr="name='tList[' + __${status.index}__ + '].age'" th:value="${birth[status.index]}" >
						</td>
					</th:block>
				</tr>
				</tbody>
			</table>
			<div align="center">
				<button type="submit" name="input" class="ui inverted blue button " >ok</button>
				<a href="/return_search">
					<button type="button" class="ui inverted blue button" >戻る</button>
				</a>
			</div>
		</form>
		
	
</html>