<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title th:text="#{view.searchInput.pagetitle}"></title>
		<link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/search.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/originalIndex.css}" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	</head>
	<body>
		<!--外部ヘッダーファイル読み込み-->
		<div th:insert="header :: header"></div>
​
		<!--ページで書き換え -->
		<p></p>
		<div class="komidasi">
			<h3>検温情報検索</h3>
		</div>
		
		<!-------------------------------------------本体始まり ----------------------------------------------------->
		<div class="ui container">
			
			<div class="ui hidden divider"></div><!-- 一行スペース入れてる -->
			<div class="ui divider"></div> <!-- テーブルの上のただの線 -->
​

			<p></p>

			<table  class="ui compact celled definition table">
				<thead class="delete">
					<tr >
						<td th:text="行番号"></td>
						<td th:each="val:${users_head_info}" width="100" th:text="${val}"></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list,status : ${users_info}">
							<td data-label="行番号" th:text="${status.count}"></td>
							<td data-label="グループ名" th:text="${list[0]}"></td>
							<td data-label="グループパスワード" th:text="${list[1]}"></td>
							<td data-label="グループパスワード" th:text="${list[2]}"></td>
							<td data-label="グループパスワード" th:text="${list[3]}"></td>
							<td data-label="グループパスワード" th:text="${list[4]}"></td>
							<td data-label="グループパスワード" th:text="${list[5]}"></td>
							<td data-label="グループパスワード" th:text="${list[6]}"></td>
							<td data-label="グループパスワード" th:text="${list[7]}"></td>
							<td data-label="グループパスワード" th:text="${list[8]}"></td>
					</tr>
				</tbody>
			</table>
			
			<form action="#" th:action="@{./users_multi_conf_suc}" method="post">
				<input type="submit" class="ui inverted primary button" value="確定">
			</form>		
			
			<form action="#" th:action="@{./users_multi_set}" method="post">
				<input type="submit" class="ui inverted primary button" value="キャンセル">
			</form>	
			
		</div>
	</body>
</html>