<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title>新規登録入力画面</title>
		<link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/originalIndex.css}" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	</head>
	<body>
	<!-- 外部ヘッダーファイル読み込み -->
		<div th:insert="header :: header"></div>
		<!-- 小見出しを各々のページで書き換え -->
		<p></p>
		<div class="komidasi">
			<h3>新規登録！</h3>
		</div>
		<div class="ui container">
			<div class="ui hidden divider"></div><!-- 一行スペース入れてる -->		
			<form action="#" th:action="@{/userInfoConfirm}" th:object="${userInfoForm}" method="post">
				<h3 th:text="登録情報を入力してください"></h3>
				<table class="ui celled table">
					<tbody>
						<tr>
							<td>グループID<br>※使用可能：半角英数字</td>
							<td><span class="ui input"><input type="text" class="form-control" th:field="*{groupId}"/></span>
								<br><span th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}">groupId error</span>
							</td>
						</tr>
						<tr>
							<td>グループパスワード<br>※使用可能：半角英数字</td>
							<td><span class="ui input"><input type="text" class="form-control" th:field="*{groupPass}"/></span>
								<br><span th:if="${#fields.hasErrors('groupPass')}" th:errors="*{groupPass}">groupPass error</span>
								<br><span th:if="${grError}" th:text=${grError}></span>
							</td>
						</tr>
						<tr>
							<td>ユーザーID<br>※使用可能：半角英数字</td>
							<td><span class="ui input"><input type="text" class="form-control" th:field="*{userId}"/></span>
								<br><span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId error</span>
								<br><span th:if="${uIdError}" th:text=${uIdError}></span>
							</td>	
							
						</tr>
						<tr>
							<td>ユーザーパスワード<br>※使用可能：半角英数字</td>
							<td><span class="ui input"><input type="text" class="form-control" th:field="*{userPass}"/></span>
								<br><span th:if="${#fields.hasErrors('userPass')}" th:errors="*{userPass}">userPass error</span>
							</td>
						</tr>
						<tr>
							<td>氏名<br>※使用可能：漢字、ひらがな、英数字(記号を除く)</td>
							<td><span class="ui input"><input type="text" class="form-control" th:field="*{userName}"/></span>
								<br><span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</span>
							</td>
						</tr>
						<tr>
							<td>性別</td>
							<td>
								<span class="ui input select">
									<select th:field="*{gender}">
										<option value="M">男</option>
										<option value="F">女</option>
									</select>
								</span>
							</td>
						</tr>

						<tr>
							<td><p th:text="#{view.tablelabel.birthday}"></td>
							<td><span class="ui input"><input type="date" class="form-control" th:field="*{birthday}"/></span>
								<br><span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">birthday error</span>
							</td>
						</tr>
						<tr>
							<td><p th:text="#{view.tablelabel.grade}"></p></td>
							<td>
								<span class="ui input select">
									<select th:field="*{grade}">
										<option value="0" th:text="#{view.select.grade0}"></option>
										<option value="1" th:text="#{view.select.grade1}"></option>
										<option value="2" th:text="#{view.select.grade2}"></option>
										<option value="3" th:text="#{view.select.grade3}"></option>
										<option value="4" th:text="#{view.select.grade4}"></option>
										<option value="5" th:text="#{view.select.grade5}"></option>
										<option value="6" th:text="#{view.select.grade6}"></option>
										<option value="A" th:text="#{view.select.gradeA}"></option>
										<option value="B" th:text="#{view.select.gradeB}"></option>
										<option value="C" th:text="#{view.select.gradeC}"></option>
									</select>
								</span>
							</td>
						</tr>
						<tr>
							<td>管理者</td>
							<td>
								<span class="ui input select">
									<select th:field="*{adminFlg}">
										<option value="0">一般</option>
										<option value="1">管理者</option>
									</select>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class="ui inverted primary button">確認</button>
			</form>
			<form action="#" th:action="@{./}" method="get">
				<input type="submit" class="ui inverted primary button" value="戻る">
			</form>	
		</div>
	</body>
</html>