<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title th:text="#{view.searchInput.pagetitle}"></title>
		<link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/search.css}" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	</head>
	<body>
		<!--外部ヘッダーファイル読み込み-->
		<div th:insert="header :: header"></div>
​
		<!--ページで書き換え -->
		<p></p>
		<div class="komidasi">
			<h3>検温情報検索</h3>
		</div>
		
		<!-------------------------------------------本体始まり ----------------------------------------------------->
		<br>
		<div class="ui container">
			
		<form action="#" th:action="@{./users_multi_get}" enctype="multipart/form-data" method="post">
			<input type="file" class="ui inverted primary" name="users_csv" accept=".csv">
			<input type="submit" class="ui inverted primary button" value="送信">
		</form>
		
		<th:block th:if="${users_err_info}">
		<div class="ui negative message">
		<th:block th:each="msg: ${users_err_info}">
			<p th:text="${msg}" >
		</th:block>
		</div>
		</th:block>
		
		<form action="#" th:action="@{./}" method="get">
			<input type="submit" class="ui inverted primary button" value="戻る">
		</form>	
			
		</div>
	</body>
</html>