<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title th:text="#{view.userInfoMulCon.pagetitle}"></title>
		<link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/originalIndex.css}" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	</head>
	<body>
		<!-- 外部ヘッダーファイル読み込み -->
		<div th:insert="header :: header"></div>
​
		<!-- 小見出しを各々のページで書き換え -->
		<br>
		<div class="komidasi">
			<h3 th:text="#{view.userInfoMulCon.pagetitle}"></h3>
		</div>
		<div class="ui hidden divider"></div><!-- 一行スペース入れてる -->
		
		<!---------------------------- 以下、本体-------------------------------------------------------------------------->

		<div class="ui container center aligned">

			<table class="ui celled table">
				<thead class="delete">
					<tr>
						<th th:text="#{view.usercount}" width="35"></th>
						<th:block th:each="val:${users_head_info}">
							<th:block th:if="${valStat.index == 0 || valStat.index == 2}" >
								<th width="120" th:text="${val}"></th>
							</th:block>
							<th:block th:if="${valStat.index == 1 || valStat.index == 3}" >
								<th width="140" th:text="${val}"></th>
							</th:block>
							<th:block th:if="${valStat.index == 4}" >
								<th width="110" th:text="${val}"></th>
							</th:block>
							<th:block th:if="${valStat.index == 5}" >
								<th width="60" th:text="${val}"></th>
							</th:block>
							<th:block th:if="${valStat.index == 6}" >
								<th width="90" th:text="${val}"></th>
							</th:block>
							<th:block th:if="${valStat.index == 7}" >
								<th width="80" th:text="${val}"></th>
							</th:block>
							<th:block th:if="${valStat.index == 8}" >
								<th width="90" th:text="${val}"></th>
							</th:block>
						</th:block>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list,status : ${users_info}">
						<td th:data-label="#{view.usercount}" th:text="${status.count}"></td>
						<th:block th:each="line:${list}">
							<th:block th:if="${lineStat.index != 5 && lineStat.index != 7 && lineStat.index != 8}" >
								<td th:data-label="${users_head_info[lineStat.index]}" th:text="${line}"></td>
							</th:block>
							<th:block th:if="${lineStat.index == 5}" >
								<td th:data-label="${users_head_info[lineStat.index]}" th:text="${T(com.shantery.thermo.util.ThermoReplaceValue).valueToName('gender',line)}"></td>
							</th:block>
							<th:block th:if="${lineStat.index == 7}" >
								<td th:data-label="${users_head_info[lineStat.index]}" th:text="${T(com.shantery.thermo.util.ThermoReplaceValue).valueToName('grade',line)}"></td>
							</th:block>
							<th:block th:if="${lineStat.index == 8}" >
								<td th:data-label="${users_head_info[lineStat.index]}" th:text="${T(com.shantery.thermo.util.ThermoReplaceValue).valueToName('admin',line)}"></td>
							</th:block>
						</th:block>
					</tr>
				</tbody>
			</table>
			<table class="inner">
				<tr>
					<td class="rightorigin">
						<form action="#" th:action="@{./users_multi_conf_suc}" method="post">
							<input type="submit" class="ui inverted primary button right aligned" th:value="#{view.btn.reg}">
						</form>
					</td>
					
					<td class="rightorigin">
									<form action="#" th:action="@{./users_multi_set}" method="get">
						<input type="submit" class="ui inverted primary button" th:value=#{view.btn.cancel}>
					</form>
					</td>
				</tr>
			</table>
			
		</div>
		<br><br><br>
	</body>
</html>