<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
		<title th:text="#{view.userInfoIn.pagetitle}"></title>
		<link th:href="@{/css/semantic.min.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/header.css}" rel="stylesheet" type="text/css" />
    	<link th:href="@{/css/originalIndex.css}" rel="stylesheet" type="text/css" />
    	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		
		<link th:href="@{/css/jquery-ui.css}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/datepicker-ja.js}"></script>
	</head>
	<body>
	<!-- 外部ヘッダーファイル読み込み -->
		<div th:insert="header :: header"></div>
		<!-- 小見出しを各々のページで書き換え -->
		<p></p>
		<div class="komidasi">
			<h3 th:text="#{view.userInfoIn.pagetitle}"></h3>
		</div>
		<div class="ui container">
			<div class="ui hidden divider"></div><!-- 一行スペース入れてる -->
			<div class="ui text container">
				<form action="#" th:action="@{/userInfoConfirm}" th:object="${userInfoForm}" method="post">
					<div class="ui center aligned container">
						<h3 class="index_ask_input" th:text="#{view.text.UGInfoTop}"></h3>
					</div>
					<div class="ui hidden divider"></div><!-- 一行スペース入れてる -->
					<div class="ui text container">
						<table class="ui celled table">
							<tbody>
								<tr>
									<td><p th:text="#{view.tablelabel.gId}"></p><div class= error><p th:text="#{view.text.halfChar}"></div></td>
									<td><span class="ui input"><input type="text" class="form-control" th:field="*{groupId}" th:placeholder="#{view.checkPh.groupId}"/></span>
										<span th:if="${#fields.hasErrors('groupId')}">
											<br><span th:text="4～32文字以内の"></span>
											<br><span th:text="半角英数字で入力してください"></span>
										</span>
									</td>
								</tr>
					<!--  
								<tr>
									<td><p th:text="#{view.tablelabel.gPass}"></p><div class= error><p th:text="#{view.text.halfChar}"></p></div></td>
									<td><span class="ui input"><input type="text" class="form-control" th:field="*{groupPass}" th:placeholder="#{view.checkPh.groupPass}"/></span>
										<span th:if="${#fields.hasErrors('groupPass')}">
											<br><span th:text="4～16文字以内の"></span>
											<br><span th:text="半角英数字で入力してください"></span>
										</span>
										<br><span th:text="${grError}"></span>
									</td>
								</tr>
					-->	
								<tr>
									<td><p th:text="#{view.tablelabel.gPass}"></p><div class= error><p th:text="#{view.text.halfChar}"></p></div></td>
									<td>		
										<div class="toggle">
											<span class="ui input">
												<input class="field js-password-a form-control" type="password" name="groupPass" id="groupPass" th:value="*{groupPass}" th:placeholder="#{view.checkPh.groupPass}">
											</span>
											<span class="btns" id="gp">
												<input class="btn-input js-password-toggle-a" id="eye" type="checkbox">
												<label class="btn-label js-password-label-a" for="eye">
													<i class="fa fa-eye"></i>
										<!-- 		<i class="fa-eye-slash"></i> -->
												</label>
											</span>
											<span th:if="${#fields.hasErrors('groupPass')}">
												<br><span th:text="4～16文字以内の"></span>
												<br><span th:text="半角英数字で入力してください"></span>
											</span>
											<br><span th:text="${grError}"></span>
										</div>	
									</td>
								</tr>
							
								
								
								
								<tr>
									<td><p th:text="#{view.tablelabel.uId}"></p><div class= error><p th:text="#{view.text.halfChar}"></p></div></td>
									<td><span class="ui input"><input type="text" class="form-control" th:field="*{userId}" th:placeholder="#{view.checkPh.userId}"/></span>
										<span th:if="${#fields.hasErrors('userId')}">
											<br><span th:text="4～32文字以内の"></span>
											<br><span th:text="半角英数字で入力してください"></span>
										</span>
										<br><span th:text="${uIdError}"></span>
									</td>	
								</tr>
								
								
		<!--  						
								<tr>
									<td><p th:text="#{view.tablelabel.uPass}"></p><div class= error><p th:text="#{view.text.halfChar}"></p></div></td>
									<td><span class="ui input"><input type="text" class="form-control" th:field="*{userPass}" th:placeholder="#{view.checkPh.userPass}"/></span>
										<span th:if="${#fields.hasErrors('userPass')}">
											<br><span th:text="4～16文字以内の"></span>
											<br><span th:text="半角英数字で入力してください"></span>
										</span>
									</td>
								</tr>
								
			-->				
								<tr>
									<td><p th:text="#{view.tablelabel.uPass}"></p><div class= error><p th:text="#{view.text.halfChar}"></p></div></td>
									<td>		
										<div class="toggle">
											<span class="ui input">
												<input class="field js-password-b form-control" type="password" name="userPass" id="userPass" th:value="*{userPass}" th:placeholder="#{view.checkPh.userPass}">
											</span>
											<span class="btns" id="up">
												<input class="btn-input js-password-toggle-b" id="eye" type="checkbox">
												<label class="btn-label js-password-label-b" for="eye">
													<i class="fa fa-eye"></i>
											<!-- 		<i class="fa-eye-slash"></i> -->
												</label>
											</span>
											<span th:if="${#fields.hasErrors('userPass')}">
												<br><span th:text="4～16文字以内の"></span>
												<br><span th:text="半角英数字で入力してください"></span>
											</span>
										</div>	
									</td>
								</tr>
								
								
								<tr>
									<td><p th:text="#{view.tablelabel.name}"></p><div class= error><p th:text="#{view.text.fullChar}"></p></div></td>
									<td><span class="ui input"><input type="text" class="form-control" th:field="*{userName}" th:placeholder="#{view.checkPh.name}"/></span>
										<span th:if="${#fields.hasErrors('userName')}">
											<br><span th:text="1～64文字以内の記号、前後の"></span>
											<br><span th:text="スペース以外で入力してください"></span>
										</span>
									</td>
								</tr>
								<tr>
									<td><p th:text="#{view.tablelabel.gender}"></td>
									<td>
										<span class="ui input select">
											<select th:field="*{gender}">
												<option th:value="#{view.number.man}" th:text="#{view.select.man}"></option>
												<option th:value="#{view.number.woman}" th:text="#{view.select.woman}"></option>
											</select>
										</span>
									</td>
								</tr>
								<tr>
									<td><p th:text="#{view.tablelabel.birthday}"></td>
									<td><span class="ui input"><input type="text" id="datepicker" class="form-control" th:field="*{birthday}"/></span>
										<br><span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
									</td>
								</tr>
								<tr>
									<td><p th:text="#{view.tablelabel.grade}"></td>
									<td>
										 <div class="field">
											<select th:field="*{grade}">
												<option th:value="#{view.number.zero}" th:text="#{view.select.grade0}"></option>
												<option th:value="#{view.number.one}" th:text="#{view.select.grade1}"></option>
												<option th:value="#{view.number.two}" th:text="#{view.select.grade2}"></option>
												<option th:value="#{view.number.three}" th:text="#{view.select.grade3}"></option>
												<option th:value="#{view.number.four}" th:text="#{view.select.grade4}"></option>
												<option th:value="#{view.number.five}" th:text="#{view.select.grade5}"></option>
												<option th:value="#{view.number.six}" th:text="#{view.select.grade6}"></option>
												<option th:value="#{view.number.A}" th:text="#{view.select.gradeA}"></option>
												<option th:value="#{view.number.B}" th:text="#{view.select.gradeB}"></option>
												<option th:value="#{view.number.C}" th:text="#{view.select.gradeC}"></option>
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<td><p th:text="#{view.tablelabel.adminFlg}"></td>
									<td>
										<span class="ui input select">
											<select th:field="*{adminFlg}">
												<option th:value="#{view.number.zero}" th:text="#{view.select.normal}"></option>
												<option th:value="#{view.number.one}" th:text="#{view.select.admin}"></option>
											</select>
										</span>
									</td>
									
		<!--  							
									<tr>
									<td><p th:text="#{view.tablelabel.uPass}"></p><div class= error><p th:text="#{view.text.halfChar}"></p></div></td>
									<td>		
										<div class="toggle">
											<span class="ui input">
												<input class="field js-password-a form-control" type="password" name="userPass" id="userPass" th:value="*{userPass}" th:placeholder="#{view.checkPh.userPass}">
											</span>
											<span class="btn" id="01">
												<input class="btn-input js-password-toggle-a" id="eye" type="checkbox">
												<label class="btn-label js-password-label-a" for="eye">
													<i class="fa fa-eye"></i>
													<i class="fa-eye-slash"></i>
												</label>
											</span>
											<span th:if="${#fields.hasErrors('userPass')}">
												<br><span th:text="4～16文字以内の"></span>
												<br><span th:text="半角英数字で入力してください"></span>
											</span>
										</div>	
									</td>
								</tr>
		-->							
								
							</tbody>
						</table>
					</div>
					<div class="ui hidden divider"></div><!-- 一行スペース入れてる -->
					<div class="ui center aligned container">
						<button type="submit" class="ui inverted primary button center" th:text="#{view.btn.confirm}"></button>
						<a href="./">
							<button type="button" class="ui inverted primary button center">
								<th:block th:text="#{view.btn.return}"></th:block>
							</button>
						</a>
					</div>
				</form>

				<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
				
				<!-- パスワードの表示/非表示切替 -->
				<script type="text/javascript">
				//groupPassの表示切り替え 
				$("span#gp").on("click", function () {
					$(this).next('.btns').slideToggle();
					const passwordToggle = document.querySelector('.js-password-toggle-a');
				    const password = document.querySelector('.js-password-a'),
				          passwordLabel = document.querySelector('.js-password-label-a');
				    if (password.type === 'password') {
				      password.type = 'text';
				      passwordLabel.innerHTML = '<i class="fa fa-eye-slash"></i>';
				    } else {
				      password.type = 'password';
				      passwordLabel.innerHTML = '<i class="fa fa-eye"></i>';
				    }
				    password.focus();
				  });
				 
				//userPassの表示切り替え 
				$("span#up").on("click", function () {
					$(this).next('.btns').slideToggle();
					const passwordToggle = document.querySelector('.js-password-toggle-b');
				    const password = document.querySelector('.js-password-b'),
				          passwordLabel = document.querySelector('.js-password-label-b');
				    if (password.type === 'password') {
				      password.type = 'text';
				      passwordLabel.innerHTML = '<i class="fa fa-eye-slash"></i>';
				    } else {
				      password.type = 'password';
				      passwordLabel.innerHTML = '<i class="fa fa-eye"></i>';
				    }
				    password.focus();
				  });
				
				</script>
			
			<script type="text/javascript">
			$('#datepicker').datepicker();
  		</script>
			
				
			</div>
			<div class="ui hidden divider"></div><!-- 一行スペース入れてる -->
		</div>
	</body>
</html>